body {
  background: black;
  color: white;
}
.articles_container {
  display: block;
}
.articles_container div img {
  width: 100%;
}
.articles_container div {
  background-color: rgb(59, 58, 58);
  border-radius: 2%;
  margin: 2%;
  outline-style: ridge;
  outline-width: 3px;
  outline-color: rgb(199, 193, 193);
}

.article_page_pic {
  width: 100%;
  outline-color: aliceblue;
  outline-width: 10px;
}
.arrow_right {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
}
.arrow_down {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}
