body {
  background: black;
}
.articles_container {
  display: block;
}
.articles_container div img {
  width: 100%;
}
.articles_container div {
  background-color: rgb(175, 171, 171);
  border-radius: 2%;
  margin: 2%;
  outline-style: ridge;
  outline-width: 3px;
  outline-color: rgb(112, 108, 108);
}
